body {
    background-color: #FAf6EA; 
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
}

.page-title {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #000;
    letter-spacing: 1px;
}


.hero-box {
    background-image: url('baner.png');
    font-family: 'Titan One', sans-serif; /* Tę linię podmień */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1250px;
    height: 625px; 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    color: #3E2723;

    font-size: 56px;  
    font-weight: 700;   
    letter-spacing: 1px; 
    text-shadow:
         3px  3px 0 #FFFFFF,
        -3px  3px 0 #FFFFFF,
         3px -3px 0 #FFFFFF,
        -3px -3px 0 #FFFFFF;
}

.nav-container {
    display: flex;
    gap: 20px;      
    flex-wrap: wrap; 
    justify-content: center;
    width: 100%;
    max-width: 1250px; 
}


.nav-btn {
    
    flex: 1;  
    min-width: 200px; 
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    font-weight: 500;
    color: #3E2723;
    font-size: 30px;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-dino {
    background-color: #A65644; 
}

.btn-art {
    background-color: #D99A4E;
}

.btn-quiz {
    background-color: #BFBA75;
}

.btn-about {
    background-color: #727FA6;
}

.nav-btn:hover {
    transform: translateY(-5px);
    filter: brightness(0.9);    
    cursor: pointer;
    
}