/* --- STYLE OGÓLNE --- */
body {
    background-image: url('img/tło.jpg'); 
    background-repeat: repeat; 
    background-size: 400px; 
    background-color: #fdf8e6; 
    
    font-family: 'Slackey', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
}

.page-title {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 0;
    color: #3E2723;
    
    font-size: 40px; 
    
    letter-spacing: 2px;
    text-shadow: 3px 3px 0 #fff; 
    text-align: center;
    transition: font-size 0.3s; 
}


.page-title-big {
    font-size: 90px !important; 
    margin-bottom: 40px;
    text-shadow: 5px 5px 0 #fff;
}

.quiz-container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    text-align: center;
    
    background-color: transparent; 
    border: none;
    box-shadow: none;
    
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-image {
    width: 100%;       
    height: 250px;     
    object-fit: cover; 
    background-color: #ccc; 
    margin-bottom: 30px;
    border-radius: 20px; 
    box-shadow: 0 8px 15px rgba(0,0,0,0.2); 
}


.question-text {
    font-family: 'Slackey', sans-serif;
    font-size:20px;
    color: #3E2723;
    margin-bottom: 30px;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 0 10px;
    text-shadow: 
        2px 2px 0 #fff,
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff;
}


.answer-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    width: 100%;
    box-sizing: border-box; 
}

.btn-answer {
    font-family: 'Slackey', sans-serif;
    background-color: #79989B; 
    color: #3E2723; 
    border: none;
    padding: 10px; 
    font-size: 24px;
    border-radius: 15px; 
    cursor: pointer;
    transition: transform 0.1s, filter 0.1s;
    box-shadow: 0 6px 0 #577375; 
    width: 100%; 
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}

.btn-answer:hover:not([disabled]) {
    transform: translateY(-3px); 
    filter: brightness(1.1);     
}

.btn-answer:active:not([disabled]) {
    transform: translateY(3px);  
    box-shadow: 0 2px 0 #577375; 
}

.btn-answer.correct {
    background-color: #8BC34A !important; 
    box-shadow: 0 6px 0 #558B2F;
    color: white; 
    text-shadow: none;
}

.btn-answer.wrong {
    background-color: #E57373 !important; 
    box-shadow: 0 6px 0 #C62828;
    color: white;
    text-shadow: none;
}

/* Przycisk Dalej */
.next-btn {
    font-family: 'Slackey', sans-serif;
    background-color: #3E2723;
    color: #fff;
    padding: 10px 80px;
    font-size: 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 30px;
    display: none; 
    box-shadow: 0 4px 0 #251614;
}

.next-btn:hover {
    transform: scale(1.05);
}

.menu-btn {
    font-family: 'Slackey', sans-serif;
    background-color: #FF7043; 
    color: #fff;
    padding: 10px 80px;
    font-size: 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px; 
    display: none; 
    box-shadow: 0 4px 0 #BF360C;
}

.menu-btn:hover {
    transform: scale(1.05);
}

/* Stopka */
.main-footer {
    margin-top: auto;
    padding-top: 40px;
    font-family: 'Slackey', sans-serif;
    color: #3E2723;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}